/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/vendor
/bootstrap/cache
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
package-lock.json
composer.lock
*.log
*.cache
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/.fleet
/.idea
/.vscode
